body{
    background-color: aquamarine;
    text-align: center;
    margin-left: 235px;
    margin-top: 60px;
}

#kefu{
    width:1000px;
    height: 500px;
    border: 1px solid black;
    background-color: bisque;
    padding: 50px 50px;
}
